      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
        <div class="col-xs-4">
          <label style="margin-bottom:1px;">29 Sep 2016:</label><br>
          <small>Action by <b>Vishnu</b></small>
        </div>
        <div class="col-xs-8">
          <p class="text-muted">Called this guy and enquired the issue.</p>          
        </div>      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <hr style="margin:10px">
        <div class="col-xs-4">
          <label style="margin-bottom:1px;">13 Nov 2016:</label><br>
          <small>Action by <b>Vishnu</b></small>
        </div>
        <div class="col-xs-8">
          <p class="text-muted">Raised as ticket ID 747.</p>          
        </div>      
    </div>
