<div class="container" ng-controller="changepasswordCtrl" ng-init="init()">
	<div class="row">
		<div class="col-sm-12">
			<h3>Change Password</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3" style="margin-left: 10%;">
      <span style='color:red;' ng-show="message.statusCode==502">{{message.message}}</span>
      <span style='color:green;' ng-show="message.statusCode==200">{{message.message}}</span>
			<form method="post" name="ryt_passwordForm">
				<div style="margin-top:10px;">
					<input type="password" class="input-lg form-control" ng-model="change.password1" pattern=".{8,}" name="password1" id="password1" placeholder="New Password" autocomplete="off">
				<div class="row">
					<div class="col-sm-12">
						<span id="pass" ng-show="ryt_passwordForm.password1.$error.pattern" style="color:#FF0004;font-size:2">Minimum 8 characters long</span> 
					</div>
				</div>
				<div style="margin-top:10px;" >
					<input type="password" class="input-lg form-control" ng-model="change.password2" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
					<div class="row">
						<div class="col-sm-12">
							<span id="pass" ng-show="!check()&&change.password2.length" style="color:red;font-size:2">Password not matched</span>
							<span id="pass" ng-show="check()" style="color:#11A0F6;font-size:2">Password matched</span>
						</div>
					</div>
				</div>
				<div style="margin-top:10px;">
					<button class="col-xs-12 btn btn-lg" ng-show="!check()">Submit</button>
					<button class="col-xs-12 btn btn-lg btn-info" ng-show="check()" ng-click="changepassword()">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
