

<div class="col-xs-12 col-lg-8 col-lg-offset-2 " style="padding:0px;">
    <div class='ryt-choice col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
		
		<img style='width:100%' src='/assets/app/img/img/new-img1_1.png' />
			<!-- <img style='width:100%' src='/assets/app/img/img/new-img1.png' ng-show='isVal($index,param.options[0])' /> -->
		</div>
		<div class='ryt-choice col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='/assets/app/img/img/new-img2_2.png' />
			<!-- <img style='width:100%' src='/assets/app/img/img/new-img2.png' ng-show='isVal($index,param.options[1])' /> -->
		</div>
		<div class=' ryt-choice col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='/assets/app/img/img/new-img3_3.png'/>
			<!-- <img style='width:100%' src='/assets/app/img/img/new-img3.png' ng-show='isVal($index,param.options[2])' /> -->
		</div>
		<div class='ryt-choice col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='/assets/app/img/img/new-img4_4.png'/>
			<!-- <img style='width:100%' src='/assets/app/img/img/new-img4.png' ng-show='isVal($index,param.options[3])' /> -->
		</div>

			<div class='ryt-choice col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
					<img style='width:100%' src='/assets/app/img/img/new-img5_5.png'/>
			<!-- <img style='width:100%' src='/assets/app/img/img/new-img5.png' ng-show='isVal($index,param.options[4])' /> -->
		</div>

			
	
</div>