 <div class="col-xs-12" ng-controller="feedbackCtrl" ng-init="init()" ng-cloak>
  <div class='col-xs-12 x_panel tile' style="padding:15px 2px 15px 2px;">
    <div class="col-xs-12 col-lg-12">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-md-4 col-lg-4">
          <input placeholder="From Date" class="form-control" type="text" onfocus="(this.type='date')"  ng-model="filter.fromdate">
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4 ">
          <input placeholder="To Date" class="form-control" type="text" onfocus="(this.type='date')"  ng-model="filter.todate">
        </div>
        <button class="btn btn-default" ng-show="!IsVisible" ng-click="ShowHide()"><i class="fa fa-filter"></i>More Filters</button>
        <button class="btn btn-default" ng-show="!IsVisible" ng-click="search()">Submit</button>
        <!-- <button class="btn btn-default" ng-show="!IsVisible" ng-click="search()"><i class="fa fa-search"></i> Search</button> -->
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4 pull-right" align="right">
        <div class='hidden-lg' style='height:10px'></div>
        <!-- <button class="btn btn-default" ng-click="route('/advancefilterfb')" ><i class="fa fa-filter"></i> Advance Filters</button> -->
        <button class="btn btn-info" ng-click="report()"><i class="fa fa-download"></i> Export to excel</button>
      </div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <div class="col-xs-12 col-lg-8" ng-show = "IsVisible" style="margin-top:15px;">
        <div class="col-xs-12 col-md-4 col-lg-4">
          <input  type="text" typeahead="state.displayname as state.displayname for state in locations | filter:$viewValue | limitTo:8" ng-model="filter.loc" class="form-control" placeholder="Location" >
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <input  type="text" typeahead="s for s in sentiments | filter:$viewValue | limitTo:8" ng-model="filter.sentiment" class="form-control" placeholder="Sentiment (e.g., positive or negative)" >
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
          <input  type="text" typeahead="state for state in concerns | filter:$viewValue | limitTo:8" ng-model="filter.concerns" class="form-control" placeholder="Concerns (e.g., Product availablility)" >
        </div>
      </div>
      <div class="col-xs-12 col-lg-4" style="margin-top: 15px;">
        <button class="btn btn-default" ng-show="IsVisible" ng-click="ShowHide()"><i class="fa fa-filter"></i>Less Filters</button>
        <button class="btn btn-default" ng-show="IsVisible" ng-click="search()">Submit</button>
        <!-- <button class="btn btn-default" ng-show="IsVisible" ng-click="search()"><i class="fa fa-search"></i> Search</button> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <div class="nav-tabs-custom">
        <div class="tab-content">
          <div ng-include="currentTab"></div>
        </div>
      </div>
    </div>
  </div>
</div>
