<div class="col-xs-12" ng-controller="locationsCtrl" ng-init="init()" ng-cloak> 
    <div class='col-xs-12 x_panel tile' style="padding:15px 2px 15px 2px;">
      <!-- <div class="col-xs-3">
        <div class="input-group add-on dropdown-toggle">
          <input class="form-control" ng-model="searchKey" placeholder="Search" type="text">
          <div class="input-group-btn">
            <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div> -->
      <div class="col-xs-6 col-xs-offset-6" align="right">
        <!-- <button class="btn btn-info"><i class="fa fa-download"></i> Export</button> -->
        <button class="btn btn-info" ng-show="!newlocation" ng-click="addoreditloc({},'newlocation')"><i class="fa fa-plus"></i>Add Location</button>
        <!-- <button class="btn btn-info" ng-click="route('/uploadlocations')"><i class="fa fa-upload"></i>Bulk Add Locations</button> -->
      </div>
    </div>
    
    <div class="row" ng-show="newlocation || editlocation">
      <div class='col-md-8 col-md-offset-2 col-sm-12 col-xs-12'>
        <div ng-include="currentTab"></div>
      </div>
    </div>
    <div class="row" ng-show="!newlocation && !editlocation">
      <div class='col-md-12 col-sm-12 col-xs-12'>
        <div class="x_panel tile">
          <div class="x_content" infinite-scroll='rytapi.nextPage()' infinite-scroll-disabled='rytapi.busy' infinite-scroll-distance='1'>
            <table class="table table-hover" style="width:100%">
              <thead>
                <tr>
                  <th> Location Name </th>
                  <th> City  </th>
                  <th> Country </th>
                  <th> Longitude </th>
                  <th> Latitude </th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="location in rytapi.items" style='cursor:pointer;'>
                  <td ng-show="location.displayname" ng-click="gotoDetail(location,'location')"> {{location.displayname}}  </td>
                  <td ng-show="!location.displayname" ng-click="gotoDetail(location,'location')"> {{location.name}}  </td>
                  <td ng-click="gotoDetail(location,'location')"> {{location.city}} </td>
                  <td ng-click="gotoDetail(location,'location')"> {{location.country}} </td>
                  <td ng-click="gotoDetail(location,'location')"> {{location.longitude}} </td>
                  <td ng-click="gotoDetail(location,'location')"> {{location.latitude}} </td>
                  <td ng-click="addoreditloc(location,'editlocation')"> <i class="fa fa-pencil"></i></td>
                  <td ng-click="removeloc(location,'table')"> <i class="fa fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>