<div class="col-xs-12" style="padding:0px;">
  <label>{{param.que}}
      <small ng-show="param.required" style="color:red; font-size:14px; font-weight:200;">
        <sup>*required</sup>
      </small>
  </label><br>
  <small class='text-muted'> Please rate at a scale of 0-10. </small>
          <div class='row col-xs-12' style="margin-left:5px; padding:5px;" align="center">
            <div class='ryt-choice col-md-1 col-xs-1' ng-click="setVal($index,0)" style="color:#ff0000; margin-top: 10px;" ng-class="{selection: isVal($index, 0)}"> 0</div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,1)" style="color:#ff0000; margin-top: 10px;" ng-class="{selection: isVal($index, 1)}"> 1</div>
            <div class='col-xs-1 ryt-choice  col-md-1' ng-click="setVal($index,2)" style="color:#ff4000; margin-top: 10px;" ng-class="{selection: isVal($index, 2)}"> 2 </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,3)" style="color:#ff8000; margin-top: 10px;" ng-class="{selection: isVal($index, 3)}"> 3  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,4)" style="color:#e6ac00; margin-top: 10px;" ng-class="{selection: isVal($index, 4)}"> 4  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,5)" style="color:#e6ac00; margin-top: 10px;" ng-class="{selection: isVal($index, 5)}"> 5  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,6)" style="color:#ffbf00; margin-top: 10px;" ng-class="{selection: isVal($index, 6)}"> 6  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,7)" style="color:#ffbf00; margin-top: 10px;" ng-class="{selection: isVal($index, 7)}"> 7  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,8)" style="color:#ffc900; margin-top: 10px;" ng-class="{selection: isVal($index, 8)}"> 8  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,9)" style="color:#00e639; margin-top: 10px;" ng-class="{selection: isVal($index, 9)}"> 9  </div>
            <div class='ryt-choice col-xs-1 col-md-1' ng-click="setVal($index,10)" style="color:#16EF16; margin-top: 10px;" ng-class="{selection: isVal($index, 10)}"> 10  </div>
            <div class="col-xs-1"></div>
          </div>
        </div>