<div class="col-xs-12" style="padding:0px;" id="rating">
    
  <div class="row col-md-12 col-sm-12 col-xs-12 center ryt-light-font" style='padding:5px'>

            <!-- star 1 -->
            <div class='col-xs-offset-1 col-xs-2 col-md-2 col-md-offset-1 col-sm-offset-1 col-sm-2' ng-click="setVal($index,1)">
              <!-- <i class="fa fa-star-o fa-3x" ></i> -->
              <i class="fa fa-star fa-3x ryt-golden-color" ></i>
            </div>
            <!-- star 1 end-->
            <!-- star 2 -->
            <div class='col-xs-2 col-md-2 col-sm-2'>
              <i class="fa fa-star-o fa-3x"  ></i>
<!--               <i class="fa fa-star fa-3x ryt-golden-color" ng-show="param.val>=2"></i>
 -->            </div>
            <!-- star 2 end-->
            <!-- star 3 -->
            <div class='col-xs-2 col-md-2 col-sm-2'>
              <i class="fa fa-star-o fa-3x"  ></i>
<!--               <i class="fa fa-star fa-3x ryt-golden-color" ng-show="param.val>=3"></i>
 -->            </div>
            <!-- star 3 end-->
            <!-- star 4 -->
            <div class='col-xs-2 col-md-2 col-sm-2'>
              <i class="fa fa-star-o fa-3x"  ></i>
<!--               <i class="fa fa-star fa-3x ryt-golden-color" ng-show="param.val>=4"></i>
 -->            </div>
            <!-- star 4 end-->
            <!-- star 5 -->
            <div class=' col-xs-2 col-md-2 col-sm-2'>
              <i class="fa fa-star-o fa-3x"  ></i>
<!--               <i class="fa fa-star fa-3x ryt-golden-color" ng-show="param.val>=5"></i>
 -->            </div>
            <!-- star 5 end-->
  </div>
</div>