
<!--<div class="col-xs-12" style="padding:0px;">
	<label>
      {{param.que}}
      <small ng-show="param.required" style="color:red; font-size:14px; font-weight:200;">
        <sup>*required</sup>
      </small>
    </label><br>
	<div class='col-xs-12' style="padding:0px;">
			<div class='col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-2 col-sm-1 col-xs-offset-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='assets/img/img/new-img1_1.png' ng-click='setVal($index,param.options[4])' ng-show='!isVal($index,param.options[4])'
			/>
			<img style='width:100%' src='assets/img/img/new-img1.png' ng-show='isVal($index,param.options[4])' />
		</div>

		<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='assets/img/img/new-img2_2.png' ng-click='setVal($index,param.options[3])' ng-show='!isVal($index,param.options[3])'
			/>
			<img style='width:100%' src='assets/img/img/new-img2.png' ng-show='isVal($index,param.options[3])' />
		</div>



		<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='assets/img/img/new-img3_3.png' ng-click='setVal($index,param.options[2])' ng-show='!isVal($index,param.options[2])'
			/>
			<img style='width:100%' src='assets/img/img/new-img3.png' ng-show='isVal($index,param.options[2])' />
		</div>

		<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='assets/img/img/new-img4_4.png' ng-click='setVal($index,param.options[1])' ng-show='!isVal($index,param.options[1])'
			/>
			<img style='width:100%' src='assets/img/img/new-img4.png' ng-show='isVal($index,param.options[1])' />
		</div>

	
		<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
			<img style='width:100%' src='assets/img/img/new-img5_5.png' ng-click='setVal($index,param.options[0])' ng-show='!isVal($index,param.options[0])'
			/>
			<img style='width:100%' src='assets/img/img/new-img5.png' ng-show='isVal($index,param.options[0])' />
		</div>
	</div>
</div>-->



<div class="col-xs-12" style="padding:0px;">
	<!-- <label>
      {{param.que}}
      <small ng-show="param.required" style="color:red; font-size:14px; font-weight:200;">
        <sup>*required</sup>
      </small>
    </label><br> -->
	<div class='col-xs-12' style="padding:0px;">
		<div class='col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-2 col-sm-1 col-xs-offset-1 col-xs-2' style='padding:5px'>
	    <img style='width:100%' src='/assets/app/img/img/new-img5_5.png' ng-click='setVal($index,param.options[0])' ng-show='!isVal($index,param.options[0])'/>
	    <img style='width:100%' src='/assets/app/img/new-img5.png' ng-show='isVal($index,param.options[0])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
	    <img style='width:100%' src='/assets/app/img/img/new-img4_4.png' ng-click='setVal($index,param.options[1])' ng-show='!isVal($index,param.options[1])'/>
	    <img style='width:100%' src='/assets/app/img/img/new-img4.png' ng-show='isVal($index,param.options[1])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:5px'>
	    <img style='width:100%' src='/assets/app/img/img/new-img3_3.png' ng-click='setVal($index,param.options[2])' ng-show='!isVal($index,param.options[2])'/>
	    <img style='width:100%' src='/assets/app/img/img/new-img3.png' ng-show='isVal($index,param.options[2])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:5px'>
	    <img style='width:100%' src='/assets/app/img/img/new-img2_2.png' ng-click='setVal($index,param.options[3])' ng-show='!isVal($index,param.options[3])'/>
	    <img style='width:100%' src='/assets/app/img/img/new-img2.png' ng-show='isVal($index,param.options[3])'/>
	  </div>
	 
	</div>
</div>

