<!--<div class="col-xs-12" style="padding:0px;">
	<label>{{contents[$index].que}}</label><br>
	<div class='col-xs-12' style="padding:0px;">
		<div class='col-lg-offset-2 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-2 col-sm-1 col-xs-offset-1 col-xs-2' style='padding:5px'>
	    <img style='width:100%' src='assets/img/vh.png' ng-click='setVal(contentheads[$index],contents[$index].options[0])' ng-show='!isVal(contentheads[$index],contents[$index].options[0])'/>
	    <img style='width:100%' src='assets/img/vh-sel.png' ng-click='s4q1="vs"' ng-show='isVal(contentheads[$index],contents[$index].options[0])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:5px'>
	    <img style='width:100%' src='assets/img/h.png' ng-click='setVal(contentheads[$index],contents[$index].options[1])' ng-show='!isVal(contentheads[$index],contents[$index].options[1])'/>
	    <img style='width:100%' src='assets/img/h-sel.png' ng-click='s4q1="s"' ng-show='isVal(contentheads[$index],contents[$index].options[1])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:5px'>
	    <img style='width:100%' src='assets/img/n.png' ng-click='setVal(contentheads[$index],contents[$index].options[2])' ng-show='!isVal(contentheads[$index],contents[$index].options[2])'/>
	    <img style='width:100%' src='assets/img/n-sel.png' ng-click='s4q1="n"' ng-show='isVal(contentheads[$index],contents[$index].options[2])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:5px'>
	    <img style='width:100%' src='assets/img/s.png' ng-click='setVal(contentheads[$index],contents[$index].options[3])' ng-show='!isVal(contentheads[$index],contents[$index].options[3])'/>
	    <img style='width:100%' src='assets/img/s-sel.png' ng-click='s4q1="h"' ng-show='isVal(contentheads[$index],contents[$index].options[3])'/>
	  </div>
	  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:5px'>
	    <img style='width:100%' src='assets/img/vs.png' ng-click='setVal(contentheads[$index],contents[$index].options[4])' ng-show='!isVal(contentheads[$index],contents[$index].options[4])'/>
	    <img style='width:100%' src='assets/img/vs-sel.png' ng-click='s4q1="vh"' ng-show='isVal(contentheads[$index],contents[$index].options[4])'/>
	  </div>
	</div>
</div>-->
	<div class="col-xs-12">
		<!-- <label>{{param.que}}</label><br> -->
		<div class='col-xs-12'>
			<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:3px'>
		    <img style='width:100%;'src='/assets/app/img/img/vs.png'/>
 	  </div>
		  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:3px'>
		    <img style='width:100%' src='/assets/app/img/img/s.png' />
		    </div>
		  <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2'  style='padding:3px'>
		    <img style='width:100%' src='/assets/app/img/img/n.png'/> 
		</div>
		   <div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:3px'>
		    <img style='width:100%' src='/assets/app/img/img/h.png'/>
		  </div>
			<div class='col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1 col-xs-2' style='padding:3px'>
		    <img style='width:100%' src='/assets/app/img/img/vh.png'/>
		  </div>
		 
		  
		</div>
	</div>